body {
    background-color: #fafafa;
}

h5 {
    font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
    position: relative;
    right: 25px;
}
p,
span,
td,
li,
a {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    font-size: 0.8rem;
}

h1,
h3 {
    font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
}

h1 {
    font-size: x-large;
}

.school {
    padding-left: 10px;
}

ul {
  list-style-type: line-through;
}